#splash-screen {
  @keyframes shadow-highlight {
    0% {
      filter: drop-shadow(0px 0px 0px #d741a7);
    }
    25% {
      filter: drop-shadow(0px 0px 2px #d741a7);
    }
    50% {
      filter: drop-shadow(0px 0px 4px #d741a7);
    }
    100% {
      filter: drop-shadow(0px 0px 6px #d741a7);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0) scale(1);
    }
    to {
      transform: rotate(-360deg) scale(0);
    }
  }

  .short-logo {
    animation: shadow-highlight 0.3s 1.5s forwards, rotate 1s 4s forwards;
  }
}
