.text-morphing {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
  }

  $speed: 16s;
  $wordCount: 7;

  position: relative;
  font-size: 120px;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  filter: contrast(25) blur(1px);

  .text-morphing-word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: word $speed infinite ease-in-out;

    @for $i from 0 to $wordCount {
      &:nth-child(#{$i + 1}) {
        animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
      }
    }

    @keyframes word {
      0%,
      5%,
      100% {
        filter: blur(0px);
        opacity: 1;
      }
      20%,
      80% {
        filter: blur(1em);
        opacity: 0;
      }
    }
  }
}
